body {
    background-color: #f8f9fa;
}

hr {
    border-style: none;
    border-top-style:double;
    border-color: #003566;
    border-width: 5px;
    width: 70%;
}

h1, h3 {
    color: #456268;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border: solid 2px black;
}
